<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">

<html>
<head> 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<title>公告</title>
<meta name="keywords" content="课堂派、LMS、PPT互动、课中互动、助教神器、老师神器、作业收发系统、作业批改、在线作业、杜绝作业作弊、本地化部署">
<meta name="description" content="教学改革，互动课堂，你可以在这里，组织课中互动，PPT互动，快速发布作业、在线批阅作业、作业查重、统计成绩，随时与你的学生进行沟通，是老师，教务管理的好帮手。支持本地化部署。">
<link href="https://www.ketangpai.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="https://www.ketangpai.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="Public/Common/css/common.css" rel="stylesheet" type="text/css">
<link href="Public/Common/js/lib/layer/skin/layer.css" rel="stylesheet" type="text/css">
<link href="Public/Common/css/emoji.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/previewfile.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/sprites.css" rel="stylesheet" type="text/css">
<script src="Public/Home/language/zh-cn.js"></script>
<script src="Public/Common/js/sea.js" id="seajsnode"></script>
<script src="Public/Common/js/config/config.js"></script>


<link href="Public/Home/css/announce.css" rel="stylesheet" type="text/css">

<link charset="utf-8" rel="stylesheet" href="Public/Common/js/lib/webuploader-0.1.5/webuploader.css">
<link id="layuicss-https:wwwketangpaicomPublicCommonjsliblayuilayuiv3cssmoduleslayerstylecss" rel="stylesheet" href="Public/Common/js/lib/layui/layuiv3/css/modules/layer/style.css" media="all">
</head>
<body style="background-color:#ebeef5;">
	
<div id="course-header" data-id="MDAwMDAwMDAwMLOspZiGz7Ns" data-sys="0" class="topbox cl" style="background-image: url(//assets.ketangpai.com/theme/big/03.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;//assets.ketangpai.com/theme/big/03.jpg&#39;,sizingMethod=&#39;scale&#39;)">
    <div class="nav nav-clear clearfix">
        <ul class="nav-menu-left">
            <li class="nav-menu-item">
                <a class="side-button" href="javascript:;"><img src="./公告_files/ktp1_09.png" alt=""></a>
            </li>
        </ul>
        <!--左滑出left-->
            <div class="leftcon">
        <div class="nav-top">
            <a href="https://www.ketangpai.com/Main/index.html">课堂</a>
            <span class="line"></span>
            <a href="https://www.ketangpai.com/Resource/index.html">备课区</a>            <span class="line"></span>
            <a href="https://www.ketangpai.com/Letter/index.html">
                <b class="fl">私信</b>
                            </a>
        </div>
        <div class="open-course" style="height: 460px;">
            <div class="open-box" style="top: 0px;">
                <p>已有课程</p>
                <div class="list">
                <a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHubds.html" title="qqwe">
                        <i style="background-color:#833f77"></i>
                        <span>qqwe</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHubdr.html" title="asd">
                        <i style="background-color:#71452c"></i>
                        <span>asd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHua9p.html" title="asd">
                        <i style="background-color:#932650 "></i>
                        <span>asd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHua9o.html" title="zasd">
                        <i style="background-color:#275ec5"></i>
                        <span>zasd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOsrZiHubOx.html" title="ASD">
                        <i style="background-color:#3f3957"></i>
                        <span>ASD</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html" title="php">
                        <i style="background-color:#8c683a"></i>
                        <span>php</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHqbds.html" title="15-8">
                        <i style="background-color:#00758e"></i>
                        <span>15-8</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html" title="java与大数据">
                        <i style="background-color:#455b8c"></i>
                        <span>java与大数据</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHz81s.html" title="熟悉  课堂派">
                        <i style="background-color:#21647a"></i>
                        <span>熟悉  课堂派</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZWHubuw.html" title="熟悉  课堂派">
                        <i style="background-color:#64240f"></i>
                        <span>熟悉  课堂派</span>
                    </a>                </div>
            </div>
        <div class="bar1" style="background:#f6f6f6"><div class="bar2" style="height: 274px;"></div></div></div>
    </div>        <!--左leftend-->
    	<ul class="nav-menu-right">
            <li class="nav-menu-item ico notice">
	<a id="notice" 　href="javascript:;">
        <img src="./公告_files/ktp1_03.png" width="20" alt="通知">
            </a>
	<div class="notice-ct hide">
		<span class="arr"></span>
        <div class="th-bar">
          <span class="tit fl">通知</span>
          <div class="less fr">
            <a id="messageset" href="https://www.ketangpai.com/User/setting.html#setting">设置</a>
          </div>
          <div class="less fr">
            <a id="ignore-all" href="javascript:void(0);">忽略全部</a>
          </div>
        </div>
                <p class="zw">暂无新通知</p>       <div class="bt-bar">
       	<div class="more">
       		<a class="link" href="https://www.ketangpai.com/Message/index.html">查看全部</a>
       	</div>
        </div>
    </div>
</li>            <li class="nav-menu-item user">
	<a id="user" href="javascript:;">
		<img class="avatar" src="./公告_files/30.png" alt="李雅" title="李雅">
			</a>
	<div class="user-info hide">
		<ul>
			<li>
				<a class="link setting" href="https://www.ketangpai.com/User/setting.html">个人设置</a>
			</li><li>
				<a class="link wenkudown" href="https://www.ketangpai.com/User/setting.html#wenkudown">文库下载</a>
			</li><li>
				<a class="link myvip" href="https://www.ketangpai.com/VipActivity/setting.html">我的VIP</a>
			</li><li>
				<a class="link logout" href="https://www.ketangpai.com/User/logout.html">退出账户</a>
			</li>        </ul>
    </div>
</li>        </ul>
    </div>
        <div class="topl fl">
            <div class="toplx cl">
                <h2><a id="selecttheme" href="javascript:void(0);">选择主题图片</a></h2>
            </div>
        </div>
        <div class="topm cl">
            <h1>java与大数据</h1>
                        <div class="codetip">使用以下邀请码邀请学生加课</div>            <div class="box-box">
                <div class="sele" id="course-code-select" data-abc="76M59D">
                    	<div class="codetext">76M59D</div>
                    </div>
                                    <div class="selecon cl">
                    <ul>
                        <li><a id="stop-course-code" href="javascript:;">停用</a></li>
                            <li class="hide2"><a id="start-course-code" href="javascript:;">启用</a></li>
                            <li><a id="reset-course-code" href="javascript:;">重置</a></li>
                                                </ul>
                </div>
            </div>

        </div>
        <div class="topr fr">
            <div class="toprx cl">
                <ul>
                   <li class="li0"><a href="https://www.ketangpai.com/Course/coursedata/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">数据分析</a></li><li class="li1"><a href="https://www.ketangpai.com/Attence/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">考勤</a></li><li class="li2"><a href="https://www.ketangpai.com/Performance/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">表现</a></li><li class="li3"><a href="https://www.ketangpai.com/StudentsV2/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">成员</a></li><li class="li4"><a href="https://www.ketangpai.com/Grade/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">成绩</a></li>                </ul>
            </div>
        </div>
    </div>
    
    <div class="banner cl">
        <div class="in-header" style="background: none repeat scroll 0% 0% #455b8c;">
            <ul class="nav-menu-left hide" style="display: none;">
                <li class="nav-menu-item">
                    <a class="side-button" href="javascript:;"><img src="./公告_files/ktp1_09.png" alt=""></a>
                </li>
            </ul>
            <div id="third-nav" class="nav gWidth">
                 <a href="https://www.ketangpai.com/Interact/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">互动</a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">作业</a><a href="https://www.ketangpai.com/TopicDiscuss/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">话题</a><a href="https://www.ketangpai.com/Courseware/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">资料</a><a href="https://www.ketangpai.com/Testpaper/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">测试</a><a href="https://www.ketangpai.com/Notify/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html" class="active">公告</a>            </div>
        </div>
    </div>
    <div class="banner2"></div>
    <div class="bg"></div>

    <!--选择图片-->
    <div class="xuantu">
        <div class="xuantutop cl">
            <div class="xuantutopl fl">选择主题图片</div>
            <div class="xuantutopr fr">
                <a href="javascript:void(0);"></a>
            </div>
        </div>
        <div class="xuantuconb cl" style="height: 450px;">
            <ul class="ul1" style="top: 0px;"></ul>
        </div>
        <div class="xuantubots cl">
            <ul>
                <li class="xli1"><a href="javascript:void(0);">取消</a></li>
                <li class="xli2"><a href="javascript:void(0);">确定</a></li>
            </ul>
        </div>
    </div>

    <!--重置弹窗-->
    <div class="little-pop cz-yqm" id="cz-yqm-header">
        <div class="words">
            <h3>要重置邀请码吗？</h3>
            <p>重置后原来的6位邀请码将失效</p>
        </div>
        <div class="btns">
            <a href="javascript:;" class="cancel">取消</a>
            <a href="javascript:;" class="sure active">确定</a>
        </div>
    </div>


<!--选择图片end-->
<script type="text/html" id="tpl-theme">
{{each lists as theme}}
<li data-id="{{theme['id']}}">
	<img src="{{theme['middlepic']}}" />
	<span></span>
	<div class="on"></div>
</li>
{{/each}}
</script>


<script type="text/html" id="tpl-show-join-class-qrcode">
	<div class="course_qcode" style="width:100%;">
		<div class="left-innerbox">
			<h2 class="classcode">加课码：{{codetips}}</h2>
			<img src="/Public/Home/img/big-code.png" />
			<input class="codetips" value="微信扫码二维码" />
		</div>
		<div class="right-innerbox">
			<div class="title-tips">已加课人数</div>
			<div class="student-num">**</div>
		</div>
	</div>
</script>        <div class="course-left-pannel-toolbar">
        	<ul class="toolbarul">
        		<li class="K_left_middle_attance">
					<a href="javascript:;"><strong class="attence"></strong>考勤</a>
				</li>
        		<li class="K_left_middle_perform">
        			<a href="javascript:;"><strong class="perform"></strong>表现</a>
        		</li>
        		<li class="K_left_middle_race">
        			<a href="javascript:;"><strong class="race"></strong>抢答</a>
        		</li>
        		<li class="K_left_middle_ask">
        			<a href="javascript:;"><strong class="ask"></strong>提问</a>
        		</li>
        		<li class="K_left_middle_blackboard">
        			<a href="javascript:;"><strong class="blackboard"></strong>黑板</a>
        		</li>
        	</ul>
        	<span class="showpannel leftarraw"></span>
        </div><div class="announce-page editor-page">
    <div class="cWidth">
        <div class="send-an" data-step="1" data-intro="点击此处发布公告给全班学生，通知会以微信方式推送到每个学生">
            <a href="javascript:;">发布公告</a>
        </div>
        <div class="empty-box hide" style="display: none;">
            <div class="box" style=" height: 185px">
                <h3 style="margin-top:35px;">点击上方按钮，您可以发布新公告。</h3>
                <p>发布班级公告后，即刻推送到学生的“微信”。（点击<a href="javascript:;" class="fileext previewVideo" data-isvideo="1" data-url="//assets.ketangpai.com/guide/smovie/gonggao.mp4">播放视频</a>，查看使用详情）</p>
            </div>
        </div>
        <div class="announce-box">
            <ul id="viewer-container-lists"><li data-id="MDAwMDAwMDAwMLSGuZiIua9t">
		<div class="announce-cont-box">
            <div class="title clearfix">
                <h3><a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGuZiIua9t.html">方法</a></h3>
                <div class="opt">
                    <a href="javascript:;" class="opt-btn"></a>
                    <div class="opt-box2">
						<a href="javascript:;" data-state="0" class="top">置顶</a>
                        <a href="javascript:;" class="edit">编辑</a>
                        <a href="javascript:;" class="del">删除</a>
                    </div>
                </div>
            </div>
            <div class="time">
                <span>发布人：李雅  发布时间：19/03/16   11:02</span>
            </div>
			<a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGuZiIua9t.html">
            <div class="announce-cont">
                <div class="word">
                    <div class="p">杀杀杀...</div>
                </div>
				
            </div>
			</a>
			<div class="comment-new" style="margin-left: -1px;margin-top: 10px;">
                <a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGuZiIua9t.html">
                    <span><b>1</b>人已读</span>
                </a>
                   
        		<a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGuZiIua9t.html">
                    <span><b>0</b>条评论</span>
                    
        		</a>
    		</div>
        </div>
    </li><li data-id="MDAwMDAwMDAwMLSGsZWGz7dq">
		<div class="announce-cont-box">
            <div class="title clearfix">
                <h3><a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGsZWGz7dq.html">23</a></h3>
                <div class="opt">
                    <a href="javascript:;" class="opt-btn"></a>
                    <div class="opt-box2">
						<a href="javascript:;" data-state="0" class="top">置顶</a>
                        <a href="javascript:;" class="edit">编辑</a>
                        <a href="javascript:;" class="del">删除</a>
                    </div>
                </div>
            </div>
            <div class="time">
                <span>发布人：李雅  发布时间：19/02/25   18:10</span>
            </div>
			<a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGsZWGz7dq.html">
            <div class="announce-cont">
                <div class="word">
                    <div class="p">233...</div>
                </div>
				
            </div>
			</a>
			<div class="comment-new" style="margin-left: -1px;margin-top: 10px;">
                <a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGsZWGz7dq.html">
                    <span><b>0</b>人已读</span>
                </a>
                   
        		<a href="https://www.ketangpai.com/Notify/info/id/MDAwMDAwMDAwMLSGsZWGz7dq.html">
                    <span><b>0</b>条评论</span>
                    
        		</a>
    		</div>
        </div>
    </li></ul>
        </div>
    </div>
</div>

<!--各种弹窗-->

<!--导入通知-->
<div class="dr-pop" id="dr-pop">
    <div class="pop-title">
        <h3>导入公告</h3>
        <a href="javascript:;" class="close"></a>
        <div class="dr-from">
            <a href="javascript:;" class="import2 active">从班级导入</a>
        </div>
    </div>
    <div class="pop-cont clearfix" style="height: 435px;">
        
    </div>
    <div class="btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">导入</a>
    </div>
</div>
<script type="text/html" id="tpl-import-part">
    {{if !lists||!lists.length}}
    <p class="no">班级中没有公告</p>
    {{else}}
    <div class="class-item fl import2-item" id="viewer-container-courselists">
        
    </div>
    <div class="class-cont fr">
        <ul class="cont-box clearfix" id="viewer-container-course-notifylist">
        </ul>
    </div>
    {{/if}}
</script>
<script type="text/html" id="tpl-import-notify">
{{if nlist.length==0}}
<p class="no">班级中没有公告</p>
{{/if}}
{{each nlist as n}}
<li class="cont-list" data-id="{{n['id']}}">
	<h3>{{n['title']}}</h3>
	<div class="p">{{resetdesc n['content']}}</div>
    <p>编辑于 {{n['createtime']}}</p>
	<i class="radio"></i>
</li>
{{/each}}
</script>

<script type="text/html" id="tpl-import-course">
<ul>
	{{each lists as c}}
	<li data-id="{{c['id']}}">
		<a href="javascript:;" title="{{c['coursename']}}">
			<i></i>
			<span>{{c['coursename']}}</span>
		</a>
	</li>
	{{/each}}
</ul>
</script>

<script type="text/html" id="tpl-file">
<div class="file" data-id="{{fileid}}" id="file-ID-{{id}}">
	<div class="file-icon fl">
		<img src="{{ext}}">
	</div>
	<div class="file-cont fl">
		<h3 class="file-name">
			<a href="javascript:;" title="{{name}}">{{name}}</a>
		</h3>
		<div class="opt clearfix">
			<p class="file-size fl">{{size}}</p>
			<div class="meter-box fl">
                <p class="fl">0%</p>
                <div class="meter fl">
                    <span style="width: 0%;"></span>
                </div>
            </div>
		</div>
	</div>
	<a href="javascript:;" class="cancel"></a>
</div>
</script>

<script type="text/html" id="tpl-sendbox">
    <div class="send-box">
        <div class="input-box">
            <input type="text" placeholder="公告名称" class="txt1" value="{{title}}">
            <div class="input-cont">
                <textarea class="input-txt"  placeholder="公告简介（选填）如需回执，可以让学生在公告里评论回复，作为回执。通知会以微信的方式发送到全体师生。"></textarea>
            </div>
            <div class="annex-box">
                {{each attachment as file}}
                <div class="file" data-id="{{file['fileid']}}">
                    <div class="file-icon fl fileext preview" data-url="{{file['rurl']}}" data-name="{{file['name']}}" data-popurl="{{file['popurl']}}" data-down="{{file['url']}}" data-ispic="{{file['isPic']}}" data-isvideo="{{file['isVideo']}}" data-isOnline="{{file['isOnline']}}">
                        <img src="{{file['ext']}}" data-src="{{file.src}}">
                    </div>
                    <div class="file-cont fl">
                        <h3 class="file-name">
                            <a href="javascript:;" title="{{file['name']}}">{{file['name']}}</a>
                        </h3>
                        <div class="opt clearfix">
                            <p class="file-size fl">{{file['size']}}</p>
                            <div class="state fl">
                                <a href="javascript:;" class="fail hide">上传失败</a>
                                <a href="javascript:;" class="retry hide">重新上传</a>
                                <a href="javascript:;" class="succ">已上传</a>
                                <a href="javascript:;" class="ing hide">正在上传-<span>0%</span></a>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="cancel"></a>
                </div>
                {{/each}}
            </div>
            <div style="margin-top:1px"></div>
        </div>
        <div class="opt-cont">
            <div class="opt-btn fr">
                <a href="javascript:;" class="cancel">取消</a>
                <a href="javascript:;" class="sure">确定</a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tpl-anList">
    <li data-id="{{id}}">
		{{include 'tpl-announce-cont-box'}}
    </li>
</script>

<script type="text/html" id="tpl-announce-cont-box">
        <div class="announce-cont-box">
            <div class="title clearfix">
                <h3><a href="/Notify/info/id/{{id}}.html">{{if sort==1000}}<b class="toptips">置顶</b>{{/if}}{{title}}</a></h3>
                <div class="opt">
                    <a href="javascript:;" class="opt-btn"></a>
                    <div class="opt-box2">
						<a href="javascript:;" data-state="{{sort}}" class="top">{{if sort==0}}置顶{{else}}取消置顶{{/if}}</a>
                        <a href="javascript:;" class="edit">编辑</a>
                        <a href="javascript:;" class="del">删除</a>
                    </div>
                </div>
            </div>
            <div class="time">
                <span>发布人：{{username}}  发布时间：{{createtime}}</span>
            </div>
			<a href="/Notify/info/id/{{id}}.html">
            <div class="announce-cont">
                <div class="word">
                    <div class="p">{{#content}}</div>
                </div>
				{{if attachment}}
                <div class="annex">
                    <ul class="clearfix">
						{{each attachment as file}}
                        <li data-id="{{file['fileid']}}" data-size="{{file['size']}}">
							<a href="javascript:;" data-url="{{file['rurl']}}" data-name="{{file['name']}}" data-popurl="{{file['popurl']}}" data-down="{{file['url']}}" data-ispic="{{file['isPic']}}" data-isvideo="{{file['isVideo']}}" data-isOnline="{{file['isOnline']}}" class="fileext preview">
                            <img src={{file['ext']}} data-src="{{file['src']}}">
							</a>
                            <h4>
								<a href="javascript:;" data-url="{{file['rurl']}}" data-name="{{file['name']}}" data-popurl="{{file['popurl']}}" data-src="{{file['src']}}"  data-ispic="{{file['isPic']}}" data-isvideo="{{file['isVideo']}}" data-isOnline="{{file['isOnline']}}" class="fileext preview" title="{{file['name']}}">
									{{file['name']}}
								</a>
							</h4>
                            <a href="{{file['url']}}" class="download">下载</a>
                        </li>
			  	 		{{/each}}
                    </ul>
                </div>
				{{/if}}
            </div>
			</a>
			<div class="comment-new" style="margin-left: -1px;margin-top: 10px;">
                <a href="/Notify/info/id/{{id}}.html">
                    <span><b>{{readCount}}</b>人已读</span>
                </a>
                &emsp;&emsp;&emsp;
        		<a href="/Notify/info/id/{{id}}.html">
                    <span><b>{{discussCount}}</b>条评论</span>
                    {{if discussNewCount>0}}<i>{{discussNewCount}}</i>{{/if}}
        		</a>
    		</div>
        </div>
</script>


	<span style="display: none">
<img src="./公告_files/track_ua.gif"></span>
	<div class="help-dips">
	<a href="javascript:;" class="help-icon help-icon-ques"></a>
	<div style="display: none;" class="help-dips-box">
		<i class="help-icon help-icon-bdot"></i>
        <a href="javascript:;" class="btn-feedback">反馈问题</a>
        <a href="https://www.ketangpai.com/index/updateDynamics" target="_blank">产品动态</a>
        <a href="https://www.ketangpai.com/help/index.html" target="_blank">帮助中心</a>
    </div>
</div>
<a href="javascript:;" class="back-to-top"></a>
<!--反馈问题窗口-->
<div class="little-pop layer-feedBack" id="feedBackWindow" data-email="ktp0212889328">
    <div class="feedback-header clearfix"> <a href="javascript:;" class="closeFeedback fr"></a></div>
    <h3 class="title">课堂派反馈</h3>
    <div class="feedMessageBox">
        <span>周一至周五，我们会在收到反馈两个小时内给您回复</span>
        <span>周末及节假日收到的反馈，我们会在节后1个工作日内给您回复</span>
                <span>老师推荐加入『课堂派高校服务』 QQ群号:175510170</span>
        	<span>『课堂派后援团』 QQ群号:487598976  『高校服务Ⅱ』 QQ群号 383907420</span>
                <textarea id="feedEditor" autofocus=""></textarea>
    </div>
    <div class="btns">
    	<span class="yourEmail">您的邮箱：<input type="email" name="email" value=""></span>
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
<link href="/html/Public/Common/js/lib/simditor-1.0.3/styles/simditor.css" rel="stylesheet" type="text/css">
<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.feedback();});</script>	
<script>
seajs.use('/html/Public/Home/js/announce.js',function(ex){ex.announceAll();});
</script>

	<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.active();});</script>

</body></html>