<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<title>资料</title>
<meta name="keywords" content="课堂派、LMS、PPT互动、课中互动、助教神器、老师神器、作业收发系统、作业批改、在线作业、杜绝作业作弊、本地化部署">
<meta name="description" content="教学改革，互动课堂，你可以在这里，组织课中互动，PPT互动，快速发布作业、在线批阅作业、作业查重、统计成绩，随时与你的学生进行沟通，是老师，教务管理的好帮手。支持本地化部署。">
<link href="https://www.ketangpai.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="Public/Common/css/common.css" rel="stylesheet" type="text/css">
<link href="Public/Common/js/lib/layer/skin/layer.css" rel="stylesheet" type="text/css">
<link href="Public/Common/css/emoji.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/previewfile.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/sprites.css" rel="stylesheet" type="text/css">
<script src="Public/Home/language/zh-cn.js"></script>
<script src="Public/Common/js/sea.js" id="seajsnode"></script>
<script src="Public/Common/js/config/config.js"></script>


<link rel="stylesheet" href="Public/Home/css/coursewarev3.css">

<link id="layuicss-laydate" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/laydate/default/laydate.css" media="all">
<link id="layuicss-layer" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/layer/default/layer.css" media="all">
<link id="layuicss-skincodecss" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/code.css" media="all">
<link charset="utf-8" rel="stylesheet" href="Public/Common/js/lib/webuploader-0.1.5/webuploader.css">
<link rel="stylesheet" href="Public/Common/js/lib/layer/skin/ding/style.css" id="layui_layer_PublicCommonjsliblayerskindingstylecss" style="">

</head>
<body style="background-color:#fff;">
	
<div id="course-header" data-id="MDAwMDAwMDAwMLOspZiGz7Ns" data-sys="0" class="topbox cl" style="background-image: url(//assets.ketangpai.com/theme/big/03.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;//assets.ketangpai.com/theme/big/03.jpg&#39;,sizingMethod=&#39;scale&#39;)">
    <div class="nav nav-clear clearfix">
        <ul class="nav-menu-left">
            <li class="nav-menu-item">
                <a class="side-button" href="javascript:;"><img src="./资料_files/ktp1_09.png" alt=""></a>
            </li>
        </ul>
        <!--左滑出left-->
            <div class="leftcon">
        <div class="nav-top">
            <a href="https://www.ketangpai.com/Main/index.html">课堂</a>
            <span class="line"></span>
            <a href="https://www.ketangpai.com/Resource/index.html">备课区</a>            <span class="line"></span>
            <a href="https://www.ketangpai.com/Letter/index.html">
                <b class="fl">私信</b>
                            </a>
        </div>
        <div class="open-course" style="height: 460px;">
            <div class="open-box" style="top: 0px;">
                <p>已有课程</p>
                <div class="list">
                <a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHubds.html" title="qqwe">
                        <i style="background-color:#833f77"></i>
                        <span>qqwe</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHubdr.html" title="asd">
                        <i style="background-color:#71452c"></i>
                        <span>asd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHua9p.html" title="asd">
                        <i style="background-color:#932650 "></i>
                        <span>asd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOstduHua9o.html" title="zasd">
                        <i style="background-color:#275ec5"></i>
                        <span>zasd</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOsrZiHubOx.html" title="ASD">
                        <i style="background-color:#3f3957"></i>
                        <span>ASD</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html" title="php">
                        <i style="background-color:#8c683a"></i>
                        <span>php</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHqbds.html" title="15-8">
                        <i style="background-color:#00758e"></i>
                        <span>15-8</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html" title="java与大数据">
                        <i style="background-color:#455b8c"></i>
                        <span>java与大数据</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHz81s.html" title="熟悉  课堂派">
                        <i style="background-color:#21647a"></i>
                        <span>熟悉  课堂派</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZWHubuw.html" title="熟悉  课堂派">
                        <i style="background-color:#64240f"></i>
                        <span>熟悉  课堂派</span>
                    </a>                </div>
            </div>
        <div class="bar1" style="background:#f6f6f6"><div class="bar2" style="height: 274px;"></div></div></div>
    </div>        <!--左leftend-->
    	<ul class="nav-menu-right">
            <li class="nav-menu-item ico notice">
	<a id="notice" 　href="javascript:;">
        <img src="/html/Public/Common/img/ktp1_03.png" width="20" alt="通知">
            </a>
	<div class="notice-ct hide">
		<span class="arr"></span>
        <div class="th-bar">
          <span class="tit fl">通知</span>
          <div class="less fr">
            <a id="messageset" href="https://www.ketangpai.com/User/setting.html#setting">设置</a>
          </div>
          <div class="less fr">
            <a id="ignore-all" href="javascript:void(0);">忽略全部</a>
          </div>
        </div>
                <p class="zw">暂无新通知</p>       <div class="bt-bar">
       	<div class="more">
       		<a class="link" href="https://www.ketangpai.com/Message/index.html">查看全部</a>
       	</div>
        </div>
    </div>
</li>            <li class="nav-menu-item user">
	<a id="user" href="javascript:;">
		<img class="avatar" src="./资料_files/30.png" alt="李雅" title="李雅">
			</a>
	<div class="user-info hide">
		<ul>
			<li>
				<a class="link setting" href="userSetting.html">个人设置</a>
			</li>
			<!--<li>
				<a class="link wenkudown" href="https://www.ketangpai.com/User/setting.html#wenkudown">文库下载</a>
			</li><li>
				<a class="link myvip" href="https://www.ketangpai.com/VipActivity/setting.html">我的VIP</a>
			</li>-->
			<li>
				<a class="link logout" href="https://www.ketangpai.com/User/logout.html">退出账户</a>
			</li>        </ul>
    </div>
</li>        </ul>
    </div>
        <div class="topl fl">
            <div class="toplx cl">
                <h2><a id="selecttheme" href="javascript:void(0);">选择主题图片</a></h2>
            </div>
        </div>
        <div class="topm cl">
            <h1>java与大数据</h1>
                        <div class="codetip">使用以下邀请码邀请学生加课</div>            <div class="box-box">
                <div class="sele" id="course-code-select" data-abc="76M59D">
                    	<div class="qrcode fl"></div>
                    	<div class="codetext">76M59D</div>
                    </div>
                                    <div class="selecon cl">
                    <ul>
                        <li><a id="stop-course-code" href="javascript:;">停用</a></li>
                            <li class="hide2"><a id="start-course-code" href="javascript:;">启用</a></li>
                            <li><a id="reset-course-code" href="javascript:;">重置</a></li>
                                                </ul>
                </div>
            </div>

        </div>
        <div class="topr fr">
            <div class="toprx cl">
                <ul>
                   <li class="li0"><a href="https://www.ketangpai.com/Course/coursedata/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">数据分析</a></li><li class="li1"><a href="https://www.ketangpai.com/Attence/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">考勤</a></li><li class="li2"><a href="https://www.ketangpai.com/Performance/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">表现</a></li><li class="li3"><a href="https://www.ketangpai.com/StudentsV2/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">成员</a></li><li class="li4"><a href="https://www.ketangpai.com/Grade/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">成绩</a></li>                </ul>
            </div>
        </div>
    </div>
    
    <div class="banner cl">
        <div class="in-header" style="background: none repeat scroll 0% 0% #455b8c;">
            <ul class="nav-menu-left hide" style="display: none;">
                <li class="nav-menu-item">
                    <a class="side-button" href="javascript:;"><img src="./资料_files/ktp1_09.png" alt=""></a>
                </li>
            </ul>
            <div id="third-nav" class="nav gWidth">
                 <a href="https://www.ketangpai.com/Interact/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">互动</a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">作业</a><a href="https://www.ketangpai.com/TopicDiscuss/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">话题</a><a href="https://www.ketangpai.com/Courseware/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html" class="active">资料</a><a href="https://www.ketangpai.com/Testpaper/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">测试</a><a href="https://www.ketangpai.com/Notify/index/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html">公告</a>            </div>
        </div>
    </div>
    <div class="banner2"></div>
    <div class="bg"></div>

    <!--选择图片-->
    <div class="xuantu">
        <div class="xuantutop cl">
            <div class="xuantutopl fl">选择主题图片</div>
            <div class="xuantutopr fr">
                <a href="javascript:void(0);"></a>
            </div>
        </div>
        <div class="xuantuconb cl" style="height: 450px;">
            <ul class="ul1" style="top: 0px;"></ul>
        </div>
        <div class="xuantubots cl">
            <ul>
                <li class="xli1"><a href="javascript:void(0);">取消</a></li>
                <li class="xli2"><a href="javascript:void(0);">确定</a></li>
            </ul>
        </div>
    </div>

    <!--重置弹窗-->
    <div class="little-pop cz-yqm" id="cz-yqm-header">
        <div class="words">
            <h3>要重置邀请码吗？</h3>
            <p>重置后原来的6位邀请码将失效</p>
        </div>
        <div class="btns">
            <a href="javascript:;" class="cancel">取消</a>
            <a href="javascript:;" class="sure active">确定</a>
        </div>
    </div>


<!--选择图片end-->
<script type="text/html" id="tpl-theme">
{{each lists as theme}}
<li data-id="{{theme['id']}}">
	<img src="{{theme['middlepic']}}" />
	<span></span>
	<div class="on"></div>
</li>
{{/each}}
</script>


<script type="text/html" id="tpl-show-join-class-qrcode">
	<div class="course_qcode" style="width:100%;">
		<div class="left-innerbox">
			<h2 class="classcode">加课码：{{codetips}}</h2>
			<img src="/Public/Home/img/big-code.png" />
			<input class="codetips" value="微信扫码二维码" />
		</div>
		<div class="right-innerbox">
			<div class="title-tips">已加课人数</div>
			<div class="student-num">**</div>
		</div>
	</div>
</script>        <div class="course-left-pannel-toolbar">
        	<ul class="toolbarul">
        		<li class="K_left_middle_attance">
					<a href="javascript:;"><strong class="attence"></strong>考勤</a>
				</li>
        		<li class="K_left_middle_perform">
        			<a href="javascript:;"><strong class="perform"></strong>表现</a>
        		</li>
        		<li class="K_left_middle_race">
        			<a href="javascript:;"><strong class="race"></strong>抢答</a>
        		</li>
        		<li class="K_left_middle_ask">
        			<a href="javascript:;"><strong class="ask"></strong>提问</a>
        		</li>
        		<li class="K_left_middle_blackboard">
        			<a href="javascript:;"><strong class="blackboard"></strong>黑板</a>
        		</li>
        	</ul>
        	<span class="showpannel leftarraw"></span>
        </div>
        <link rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/layui.css" media="all">
<div class="data-page">
	<div class="add-resource-area">
		<div class="add-resource-btn">
			<span class="addTips">+</span>
			<span class="tips">添加资源</span>
		</div>
	</div>
	<div class="resources-area">
		<div class="left-pannel">
			<ul>
				<li class="attachment active" >附件资源</li>
			</ul>
		</div>
		<div class="right-pannel"><div class="data-box">
            <div class="title clearfix">
                <div class="all fl" data-folderid="0">
                    <a href="javascript:;" class="here">所有文件</a>
                    <a href="javascript:;" class="there">所有文件</a>
                    <i class="hide2"></i>
                    <span class="hide"></span>
                </div>
                <div class="multidelete fl" style="display: none;">批量删除</div>
                <div class="qh-btn fr">
                    <a href="javascript:;" title="网格视图" class="type1 active"></a>
                    <a href="javascript:;" title="列表视图" class="type2"></a>
                </div>
                <div class="new-btn fr">
                    <a href="javascript:;">新建文件夹</a>
                </div>
            </div>
            <div class="data-cont data-tab ">
                <ul class="clearfix ui-sortable"><div class="none ui-sortable-handle">没有文件啦</div></ul>
            </div>
            <div class="data-tab data-cont2 hide">
                <div class="cont2title" style="display: none;">
                    <div class="cwcheckboxall fl"></div>
                    <p class="name fl">文件名</p>
                    <p class="size fl">大小</p>
                    <p class="date fl">上传时间</p>
                    <p class="downcount fl">下载次数</p>
                </div>
                <ul class="ui-sortable"><div class="none ui-sortable-handle">没有文件啦</div></ul>
            </div>
        </div></div>
	</div>
</div>

<script type="text/html" id="tpl-resource-dialog">
<div class="dr-pop resource-dialog" style="display:block;">
    <div class="pop-title layui-layer-title">
        <h3>{{title}}</h3>
        <a href="javascript:;" class="close"></a>
    </div>
    <div class="pop-cont clearfix">
        <div class="class-item fl import1-item" style="height:402px;"></div>
		<div class="class-cont fr" style="height:402px;"></div>
    </div>
    <div class="btns">
		{{if hideUploader==false}}
        <a href="javascript:;" class="sc-btn fl">本地上传</a>
		{{/if}}
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
</script>

<script type="text/html" id="tpl-import-courseware">
{{if lists.length==0}}
<p class="no">该{{if iscourse}}班级{{/if}}{{if isresource}}备课区{{/if}}没有指定类型的资源</p>
{{/if}}
{{each lists as c}}
<li class="cont-list resource-list" data-fileid="{{c.fileid}}" data-id="{{c.id}}" data-folder="{{c.isfolder}}">
    <h3 class="name fl">
        <img src="{{c.ext_s}}" data-src="{{c.src}}" data-down="{{c.url}}" data-ispic="{{c.isPic}}" {{if c.isPic==1}}style="border:1px solid #ECECEC"{{/if}} width="24" height="24">
        {{if c.isfolder==1}}
        <a href="javascript:;" class="foldertext" title="{{c.foldername}}">{{c.foldername}}</a>
        {{/if}}
        {{if c.isfolder==0}}
        <a href="javascript:;" title="{{c.name}}" data-name="{{c.name}}" data-url="{{c.rurl}}" data-src="{{c.src}}" data-ispic="{{c.isPic}}"  class="fileext">{{c.name}}</a>
        {{/if}}
    </h3>
	{{if c.isfolder==1&&istofolder}}
	{{else}}
		{{if radio==1}}
			<i class="radio"></i>
		{{else}}
			<i class="checkbox"></i>
		{{/if}}
	{{/if}}
</li>
{{/each}}
</script>

<script type="text/html" id="tpl-import-resource">
    {{each data as c}}
    <li data-id="{{c['id']}}" >
        <a href="javascript:;" title="{{c['title']}}">
            <i></i>
            <span>{{c['title']}}</span>
        </a>
    </li>
    {{/each}}
</script>

<script type="text/html" id="tpl-import-part">
    {{if import1}}
    {{if !data||!data.length}}
    <p class="no">空空如也</p>
    {{else}}
    <div class="class-item fl import1-item" style="min-height:200px;">
        <ul></ul>
    </div>
    <div class="class-cont fr">
        <ul class="cont-box clearfix" >
        </ul>
    </div>
    {{/if}}
    {{/if}}
    {{if import2}}
    {{if !lists||!lists.length}}
    <p class="no">空空如也</p>
    {{else}}
    <div class="class-item fl import2-item" style="min-height:200px;">
        <ul></ul>
    </div>
    <div class="class-cont fr">
        <ul class="cont-box clearfix" >
        </ul>
    </div>
    {{/if}}
    {{/if}}
</script>

<script type="text/html" id="tpl-import-course">
	{{each lists as c}}
	<li data-id="{{c['id']}}" >
		<a href="javascript:;" title="{{c['coursename']}}">
			<i></i>
			<span>{{c['coursename']}}</span>
		</a>
	</li>
	{{/each}}
</script>

<script type="text/html" id="tpl-ppt-upload">
    <div class="ppt-upload-pop">
        <div class="title">
            <h3>正在上传及转码...(大概需要1到5分钟左右)</h3>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="cont">
            <img src="{{ext}}">
            <p>{{name}}</p>
        </div>
        <div class="meter-box clearfix">
			{{if url}}
            <p>转码中...</p>
            <span>99%</span>
            <div class="m1">
                <div class="m2" style="width:99%;"></div>
            </div>
			{{else}}
			<p>{{size}}</p>
            <span>0%</span>
            <div class="m1">
                <div class="m2"></div>
            </div>
			{{/if}}
        </div>
    </div>
</script>
<link rel="stylesheet" href="Public/Common/js/lib/layui/layui-v1.0.9_rls/layui/css/layui.css" media="all">
<script src="Public/Common/js/lib/layui/layui-v1.0.9_rls/layui/layui.js?"></script>
<script type="text/html" id="tpl-mooc-resource-dialog">
<div class="dr-pop" style="display:block;">
    <div class="pop-title layui-layer-title">
        <h3>导入资料</h3>
        <a href="javascript:;" class="close"></a>
        <div class="dr-from">
            <a href="javascript:;" class="import1 active">从课程资源导入</a>
        </div>
    </div>
    <div class="pop-cont clearfix" style="width:100%;">
        <div class="class-cont" style="height:390px;width:100%;"></div>
    </div>
    <div class="btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">导入</a>
    </div>
</div>
</script>

<script type="text/html" id="tpl-resource-dialog-mooc-content">
	<div class="dialog-topArea">
		<div class="search-box">
			<input class="inputArea" placeholder="搜索课程试试" type="text">
			<div class="search-btn">搜索</div>
		</div>
	</div>
	<div class="dialog-mooc-lists">
	</div>
	<div id="search-page" style="margin-right:10px;float:right;"></div>
</script>

<script type="text/html" id="tpl-resource-dailog-mooc-lists">
	<div class="list-course">
		{{if lists!=null && lists.length>0}}
		<ul>
			{{each lists as item}}
				<li data-id="{{item['id']}}">
					<div class="leftArea fl">
						<img src="{{item['postimg']}}">
					</div>
					<div class="centerArea fl" style="width:66%;">
						<div class="subtitle">{{item['title']}}</div>
						<div class="learn-info">
							<div class="learned" style="font-size:12px;">{{item['author']}}</div>
						</div>
						<div class="abstract">简介：{{delTag item['description']}}。</div>
					</div>
				</li>
			{{/each}}
		</ul>
		{{else}}
			{{if own==true}}
				<div class="none-course">您还没有创建课程资源， <a style="color:#c00;" target="_blank" href="/Mooc/Mooc/index.html">点击</a> 前往进行自己建设</div>
			{{else}}
				<div class="none-course">很抱歉，没有找到与 “<em style="color:#c00;">{{txt}}</em>” 相关的课程。</div>
			{{/if}}
		{{/if}}
	</div>
</script>

<script type="text/html" id="tpl-resource-dailog-chapter-lists">
	<div class="goback-header">
		<div class="goback fl"></div>
		<div class="search-title">课程资源搜索</div>
	</div>
	<div class="chapter-body">
		{{if lists!=null&&lists.length>0}}
		<ul class="chapter">
		{{each lists as chapter}}
		<li class="chapter-li" data-id="{{chapter['id']}}">
			<div class="chapter-title">
				<div class="treedown"></div>
				<i class="checkbox"></i>
				<span class="li-title">{{chapter['title']}}</span>
			</div>
			<ul class="subchapter">
				{{each chapter['subLists'] as subChapter}}
				<li class="subchapter-li" data-id="{{subChapter['id']}}">
					<div class="sub-chapter-title">
						<div class="treedown"></div>
						<i class="checkbox"></i>
						<span class="li-title">{{subChapter['title']}}</span>
					</div>
					<ul class="filelists">
						{{each subChapter['lessonLists'] as lesson}}
						<li class="lesson-li" data-id="{{lesson['id']}}">
							<div class="third-chapter-title">
								<i class="checkbox"></i>
								<span class="li-title">{{lesson['title']}}</span>
							</div>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}
		</ul>
		{{else}}
		 <div class="none-course" style="text-align:center;">该课程还没有任何章节</div>
		{{/if}}
	</div>
</script>
<script type="text/html" id="tpl-courseware-outlink-area">
    {{if data!=null && data.length>0}}
		{{each data as item}}
        <div class="outlinkblock" olid="{{item['id']}}">
            <div class="outlinktitle">{{item['linkname']}}</div>
            <a class="outlinkcontent" href="{{item['link']}}" target="_blank">{{item['link']}}</a>
            <div class="outlinktime">{{year_month_days_hour_min item['createtime']}}编辑</div>
            <div class="outlinkctrl">
                <div class="dropdownbt"></div>
                <div class="opt-box2" style="display: none;">
                    <a href="javascript:;" class="delol">删除</a>
                    <a href="javascript:;" class="editol">编辑</a>	
                </div>
            </div>
        </div>
		{{/each}}
	{{else}}
	<div class="noneContent">您还没有添加外链资源</div>
	{{/if}}
</script>
<script type="text/html" id="tpl-courseware-resource-area">
        <div class="data-box">
            <div class="title clearfix">
                <div class="all fl" data-folderid="0" >
                    <a href="javascript:;" class="here">所有文件</a>
                    <a href="javascript:;" class="there">所有文件</a>
                    <i class="hide2"></i>
                    <span class="hide"></span>
                </div>
                <div class="multidelete fl">批量删除</div>
                <div class="qh-btn fr">
                    <a href="javascript:;" title="网格视图" class="type1 {{if type==1}}active{{/if}}"></a>
                    <a href="javascript:;" title="列表视图" class="type2 {{if type==2}}active{{/if}}"></a>
                </div>
                <div class="new-btn fr">
                    <a href="javascript:;">新建文件夹</a>
                </div>
            </div>
            <div class="data-cont data-tab {{if type!=1}}hide{{/if}}">
                <ul class="clearfix"></ul>
            </div>
            <div class="data-tab data-cont2 {{if type!=2}}hide{{/if}}">
                <div class="cont2title">
                    <div class="cwcheckboxall fl"></div>
                    <p class="name fl">文件名</p>
                    <p class="size fl">大小</p>
                    <p class="date fl">上传时间</p>
                    <p class="downcount fl">下载次数</p>
                </div>
                <ul></ul>
            </div>
        </div>
</script>

<!--移入弹窗-->
<div class="pop-new-2 pop-new-V2" id="yr-pop">
    <div class="title">
        <h3>移入到...</h3>
    </div>
    <div class="input-box wenjianjia">
        <span>文件夹：</span>
        <div class="choose-box">
            <div class="choose-item">
                <div class="item department">
                    <span class="disabled">请选择文件夹</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
<!--保存弹窗-->
<div class="pop-new-2 pop-new-V2" id="bc-pop">
    <div class="title">
        <h3>保存到...</h3>
    </div>
    <div class="input-box">
        <span>备课区：</span>
        <div class="choose-box beikequ">
            <div class="choose-item">
                <div class="item department">
                    <span class="disabled">我的备课区</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-box">
        <span>文件夹：</span>
        <div class="choose-box beikequfolder">
            <div class="choose-item">
                <div class="item department">
                    <span class="disabled" data-id="0">请选择文件夹</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
<!--新建弹窗-->
<div class="little-pop pop-new-2" id="new-wjj">
    <div class="title">
        <h3>新建文件夹</h3>
    </div>
    <div class="input-box">
        <span>文件夹名：</span>
        <input type="text" class="txt1" placeholder="请输入文件夹名">
    </div>
    <div class="btns" style="padding:0">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">新建</a>
    </div>
</div>
<div class="little-pop pop-new-2" id="edit-wjj">
    <div class="title">
        <h3>重命名文件夹</h3>
    </div>
    <div class="input-box">
        <span>文件夹名：</span>
        <input type="text" class="txt1" placeholder="请输入文件夹名">
    </div>
    <div class="btns" style="padding:0">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure active">确定</a>
    </div>
</div>

<script type="text/html" id="tpl-upload-file">
<li class="loading" id="file-ID-{{id}}">
    <a href=""><img src="{{ext}}" alt=""></a>
    <h3><a href="javascript:;" class="foldertext" title="{{name}}">{{name}}</a></h3>
    <a class="closeX" href="javascript:;">X</a>
    <div class="precent-ing clearfix">
        <span class="fl precentnum">0%</span>
        <span class="fr precent-bg">
            <span class="precent"></span>
        </span>
    </div>
</li>
</script>

<script type="text/html" id="tpl-upload-file2">
<li class="loading" id="file-ID-{{id}}">
    <h3 class="name fl">
        <img src="{{ext}}" alt="">
        <a href="javascript:;" class="fileext" title="{{name}}">{{name}}</a>
    </h3>
    <p class="size fl">{{size}}</p>
    <p class="date fl">{{time_format createtime}}</p>
    <p class="downcount fl">0</p>
    <div class="opt-opt fr precent-ing">
        <p>正在上传-<span class="precentnum">0%</span><a href="javascript:;" class="closeX">取消上传</a></p> 
    </div>
</li>
</script>

<script type="text/html" id="tpl-courseware">
<li data-fileid="{{fileid}}" data-id="{{id}}" data-folder={{isfolder}}>
	{{if newCommendCount > 0}}
		<i class="icon icon-file-comment commented courseware-comment-counts-tips" title="{{newCommendCount}}条新的评论">{{newCommendCount}}</i>
	{{/if}}
	<a href="javascript:;" data-iscourseware="1" data-role="{{role}}" data-id="{{id}}"  title="{{name}}" data-name="{{name}}" data-url="{{rurl}}" data-down="{{url}}" data-src="{{src}}" class="fileext">
		<img src="{{ext}}" data-src="{{src}}" {{if isPic==1}}style="border:1px solid #ECECEC"{{/if}}>
	</a>
	<h3>
	{{if isfolder==1}}
	   <a href="javascript:;" class="foldertext" title="{{foldername}}">{{substr15 foldername}}</a>
	{{/if}}
	{{if isfolder==0}}
	   <a href="javascript:;" data-iscourseware="1" data-role="{{role}}" data-id="{{id}}" title="{{name}}" data-name="{{name}}" data-url="{{rurl}}" data-src="{{src}}" data-ispic="{{isPic}}" class="fileext">
		{{substr15 name}}
       </a>
	{{/if}}
	</h3>
	{{if role==1}}{{if isfolder==0}}<p>{{downloadCount}}次下载</p>{{/if}}{{/if}}
	<div class="opt-aa">
        <a href="{{url}}" class="down-btn">下载</a>
		{{if isfolder==0}}
			{{if leavl == 1}}
			<a href="javascript:;" class="yr-btn">移入</a>
			{{/if}}
			{{if leavl == 2}}
			<a href="javascript:;" class="yc-btn">移出</a>
			{{/if}}
		{{/if}}
		<a href="javascript:;" class="bc-btn">保存</a>
        {{if isfolder==1}}
        <a href="javascript:;" class="edit-btn">编辑</a>
        {{/if}}
		<a href="javascript:;" class="more-btn">更多</a>
	</div>
</li>
</script>

<!--列表模式-->
<script type="text/html" id="tpl-courseware2">
    <li data-fileid="{{fileid}}" data-id="{{id}}" data-folder={{isfolder}}>
        <div class="cwcheckbox fl"></div>
        <h3 class="name fl">
            <img src="{{ext_s}}" data-src="{{src}}" data-down="{{url}}" data-ispic="{{isPic}}" {{if isPic==1}}style="border:1px solid #ECECEC"{{/if}}>
            {{if isfolder==1}}
            <a href="javascript:;" class="foldertext" title="{{foldername}}">{{foldername}}</a>
            {{/if}}
            {{if isfolder==0}}
            <a href="javascript:;" title="{{name}}" data-role="{{role}}" data-iscourseware="1" data-id="{{id}}" data-name="{{name}}" data-url="{{rurl}}"  data-src="{{src}}" data-ispic="{{isPic}}" class="fileext">
                {{name}}
            </a>
            {{/if}}
        </h3>
        {{if isfolder==1}}
        <p class="size fl">--</p>
        {{/if}}
        {{if isfolder==0}}
        <p class="size fl">{{size}}</p>
        {{/if}}
        <p class="date fl">{{time_format createtime}}</p>
        {{if role==1}}{{if isfolder==0}}<p class="downcount fl">{{downloadCount}}</p>{{/if}}{{/if}}
        <div class="opt-opt fr">
            <div class="opt-a">
                <a href="{{url}}" class="down-btn">下载</a>
                {{if isfolder==0}}
                {{if leavl == 1}}
                <a href="javascript:;" class="yr-btn">移入</a>
                {{/if}}
                {{if leavl == 2}}
                <a href="javascript:;" class="yc-btn">移出</a>
                {{/if}}
                {{/if}}
                <a href="javascript:;" class="bc-btn">保存</a>
                {{if isfolder==1}}
                <a href="javascript:;" class="edit-btn">编辑</a>
                {{/if}}
				<a href="javascript:;" class="more-btn">更多</a>
            </div>
        </div>
    </li>
</script>

<!--上传文件模板-->
<script type="text/html" id="tpl-fileUpload">
    <li>
        <div class="file">
            <div class="file-icon fl">
                <img src="/Public/Home/img/doc.png">
            </div>
            <div class="file-cont fl">
                <h3 class="file-name">
                    <a href="javascript:;" title="{{fileName}}">{{fileName}}</a>
                </h3>
                <div class="opt clearfix">
                    <p class="file-size fl">{{fileSize}}</p>
                    <div class="state fl">
                        <a href="javascript:;" class="fail hide">上传失败</a>
                        <a href="javascript:;" class="retry hide">重新上传</a>
                        <a href="javascript:;" class="succ">已上传</a>
                        <a href="javascript:;" class="ing hide">正在上传-<span>80%</span></a>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="cancel"></a>
        </div>
    </li>
</script>

<script type="text/html" id="tpl-mooc-lists-Area">
<div class="tabArea">
	<div class="tabArea-header">
		<ul>
			<li class="active">按时间</li>
			<li>按课程</li>
		</ul>
	</div>
	<div class="tabArea-body"></div>
</div>
</script>

<script type="text/html" id="tpl-course-lists">
<div class="list-course">
	{{if lists!=null && lists.length>0}}
	<ul>
		{{each lists as item}}
		<li data-id="{{item['id']}}">
			<div class="leftArea fl">
				<a target="_blank" href="/Mooc/MoocLearn/course.html?moocid={{item['moocid']}}">
					<img src="{{item['lesson']['file']}}" />
				</a>
			</div>
			<div class="centerArea fl">
				<div class="title">{{item['mooc']['title']}}</div>
				<div class="learn-info">
					<div class="learned">{{item['chapter']['title']}} {{item['lesson']['title']}}</div>
				</div>
				<div class="date">发布于 {{year_month_days_hour_min item['createtime']}}</div>
			</div>
			<div class="rightArra fr">
				<div class="op">
					<div class="dropdownbt"></div>
					<div class="opt-box2" style="display: none;">
						<a href="javascript:;" class="delMooc">删除</a>	
                	</div>
				</div>
				<a target="_blank" href="/Mooc/MoocLearn/resource.html?lessonid={{item['lessonid']}}" class="blue-solid-btn" style="margin-top:15px;width:100px;">立即学习</a>
			</div>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<div class="noneContent">您还没有添加课程资源</div>
	{{/if}}
</div>
</script>

<script type="text/html" id="tpl-courseware-use-stat">
	<div class="use-stat-area">
		<div class="use-stat-header">该资源使用统计</div>
		<div class="use-stat-table">
			<table id="visit-table"></table>
		</div>
	</div>
</script>

<script type="text/html" id="tpl-courseware-auth-dialog">
<div class="pop-new-2 pop-new-V2" style="display:block;">
    <div class="title">
        <h3>学生下载权限设置</h3>
    </div>
    <div class="input-box">
        <span>下载权限：</span>
        <div class="choose-box">
            <div class="choose-item">
                <div class="item department">
                    <span class="disabled selectbox">{{if candownload==1}}可下载{{else}}不可下载{{/if}}</span>
					<div class="item-box" style="display: none;">
						<a data-id=1 href="javascript:;">可下载</a>
						<a data-id=0 href="javascript:;">不可下载</a>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
</script>

<script src="Public/Common/js/lib/layui/layui-v2.0.0/layui/layui.all.js"></script>
<script type="text/javascript">
	seajs.use('/html/Public/Home/js/coursewarev3.js',function(ex){ex.coursewareContrl(1);});
</script>
	<span style="display: none">
<img src="./资料_files/track_ua.gif"></span>
	<div class="help-dips">
	<a href="javascript:;" class="help-icon help-icon-ques"></a>
	<div style="display: none;" class="help-dips-box">
		<i class="help-icon help-icon-bdot"></i>
        <a href="javascript:;" class="btn-feedback">反馈问题</a>
        <a href="https://www.ketangpai.com/index/updateDynamics" target="_blank">产品动态</a>
        <a href="https://www.ketangpai.com/help/index.html" target="_blank">帮助中心</a>
    </div>
</div>
<a href="javascript:;" class="back-to-top"></a>
<!--反馈问题窗口-->
<div class="little-pop layer-feedBack" id="feedBackWindow" data-email="ktp0212889328">
    <div class="feedback-header clearfix"> <a href="javascript:;" class="closeFeedback fr"></a></div>
    <h3 class="title">课堂派反馈</h3>
    <div class="feedMessageBox">
        <span>周一至周五，我们会在收到反馈两个小时内给您回复</span>
        <span>周末及节假日收到的反馈，我们会在节后1个工作日内给您回复</span>
                <span>老师推荐加入『课堂派高校服务』 QQ群号:175510170</span>
        	<span>『课堂派后援团』 QQ群号:487598976  『高校服务Ⅱ』 QQ群号 383907420</span>
                <textarea id="feedEditor" autofocus=""></textarea>
    </div>
    <div class="btns">
    	<span class="yourEmail">您的邮箱：<input type="email" name="email" value=""></span>
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
<link href="/html/Public/Common/js/lib/simditor-1.0.3/styles/simditor.css" rel="stylesheet" type="text/css">
<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.feedback();});</script>	
	<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.active();});</script>

</body></html>