<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<title>考勤</title>
<meta name="keywords" content="课堂派、LMS、PPT互动、课中互动、助教神器、老师神器、作业收发系统、作业批改、在线作业、杜绝作业作弊、本地化部署">
<meta name="description" content="教学改革，互动课堂，你可以在这里，组织课中互动，PPT互动，快速发布作业、在线批阅作业、作业查重、统计成绩，随时与你的学生进行沟通，是老师，教务管理的好帮手。支持本地化部署。">
<link href="https://www.ketangpai.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="Public/Common/css/common.css" rel="stylesheet" type="text/css">
<link href="Public/Common/js/lib/layer/skin/layer.css" rel="stylesheet" type="text/css">
<link href="Public/Common/css/emoji.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/previewfile.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/sprites.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="Public/Home/js/zui/jquery.zui.js"></script>
<script src="Public/Home/language/zh-cn.js"></script>
<script src="Public/Common/js/sea.js" id="seajsnode"></script>
<script src="Public/Common/js/config/config.js"></script>
<script src="Public/Home/js/myJS.js"></script>

<link rel="stylesheet" href="Public/Home/css/coursewarev3.css">
<link href="Public/Home/css/attencev3.css" rel="stylesheet" type="text/css">

<link id="layuicss-laydate" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/laydate/default/laydate.css" media="all">
<link id="layuicss-layer" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/layer/default/layer.css" media="all">
<link id="layuicss-skincodecss" rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/modules/code.css" media="all">
<link charset="utf-8" rel="stylesheet" href="Public/Common/js/lib/webuploader-0.1.5/webuploader.css">
<link rel="stylesheet" href="Public/Common/js/lib/layer/skin/ding/style.css" id="layui_layer_PublicCommonjsliblayerskindingstylecss" style="">


<!--表格折线图-->
<link rel="stylesheet" href="Public/Common/css/zui.min.css">
<link rel="stylesheet" type="text/css" href="Public/Common/css/autocomplete.css">

<script type="text/javascript" src="Public/Home/js/zui/zui.min.js"></script>
<script src="Public/Home/js/zui/zui.chart.min.js"></script>

</head>
<body style="background-color:#fff;">
<div id="MYAttence"></div>
<div id="course-header" data-id="MDAwMDAwMDAwMLOspZiGz7Ns" data-sys="0" class="topbox cl" style="background-image: url(//assets.ketangpai.com/theme/big/03.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;//assets.ketangpai.com/theme/big/03.jpg&#39;,sizingMethod=&#39;scale&#39;)">
    <div class="nav nav-clear clearfix">
        <ul class="nav-menu-left">
            <li class="nav-menu-item">
                <a id="return-course" href="javascript:;" class="return" onclick="toMainIndex()">
                <i style="display: inline-block;width: 27px;height: 18px;background: url(Public/Common/img/return.png) left top no-repeat;position: relative;top: 5px;"></i>
        <span style="font-size: 20px;color: #FFF;line-height: 24px;vertical-align: middle;">课堂</span>
    </a>
            </li>
        </ul>
    	<ul class="nav-menu-right">
            <li class="nav-menu-item ico notice">
	<a id="notice" 　href="javascript:;">
        <img src="/html/Public/Common/img/ktp1_03.png" width="20" alt="通知">
            </a>
	<div class="notice-ct hide">
		<span class="arr"></span>
        <div class="th-bar">
          <span class="tit fl">通知</span>
          <div class="less fr">
            <a id="messageset" href="https://www.ketangpai.com/User/setting.html#setting">设置</a>
          </div>
          <div class="less fr">
            <a id="ignore-all" href="javascript:void(0);">忽略全部</a>
          </div>
        </div>
                <p class="zw">暂无新通知</p>       <div class="bt-bar">
       	<div class="more">
       		<a class="link" href="https://www.ketangpai.com/Message/index.html">查看全部</a>
       	</div>
        </div>
    </div>
</li>            <li class="nav-menu-item user">
	<a id="user" href="javascript:;">
		<img class="avatar" src="" alt="用户" title="用户">
			</a>
	<div class="user-info hide">
		<ul>
			<li>
				<a class="link setting" href="userSetting.html">个人设置</a>
			</li>
            <li>
				<a class="link logout" href="javascript:;" onclick="logout()">退出账户</a>
			</li>        
        </ul>
    </div>
</li>        </ul>
    </div>
        <div class="topm cl">
            <h1 id="courseName"></h1>
                <div class="codetip">使用以下邀请码邀请学生加课</div>            
                    <div class="box-box">
                        <div class="sele" id="course-code-select" >
                    	       <div  id="courseCode"class="codetext" style="margin-left:25px;"></div>
                        </div>
                    </div>
        </div>
    </div>
    
    <div class="banner cl">
        <div class="in-header" style="background: none repeat scroll 0% 0% #455b8c;">
            <ul class="nav-menu-left hide" style="display: none;">
                <li class="nav-menu-item">
                    <a class="side-button" href="javascript:;"><img src="Public/Common/img/ktp1_09.png" alt=""></a>
                </li>
            </ul>
            <div id="third-nav" class="nav gWidth">
                 <a href="courseVideo.html"><img src="Public/Common/img/datachart.png">互动</a>
                <a id="mymember" href="courseMember.html" ><img src="Public/Common/img/ktp1_24.png">成员</a>
                <a href="courseAttence.html" class="active"><img src="Public/Common/img/ktp1_19.png">考勤</a>
                <a href="#" ><img src="Public/Common/img/ktp1_26.png">公告</a>     
            </div>
        </div>
    </div>


        <link rel="stylesheet" href="Public/Common/js/lib/layui/layui-v2.0.0/layui/css/layui.css" media="all">
        <script type="text/javascript">
    seajs.use('jquery',function(ex){
        try{
            if(self!=top){
                $('.nav-menu-right').css('display','none');
                $('#third-nav').css('display','none');
                $('#return-course.return').css('display','none');
                $('#alongheader').css('display','block')
            }
        }catch(err){}
    });

</script>
<div class="data-page">
    
    <div class="attend normal">
        <div class="attend_header">
            <div class="attend_headleft" style="height: 100px;width:100%">
                <p class="attend_rate">
                    平均出勤率                    
                    <span class="attend_ratenums" style="color: rgb(50, 142, 235);">
                    	<big class="attend_ratenum"></big>%</span>
                </p>
                <h3 class="attend_className textoverflow"><span id="mycoursename"></span></h3>
                <p class="attend_stunum">班级人数：</p>
            </div>
    
            <div style="clear: both;"></div>
        </div>
        <div class="attend_main">
            <div class="attend_mainleft">
            	<!--折线数据对比-->
            	<div id="content-left-bottom">
            	<canvas id="myChart" width="700" height="400"></canvas>
				</div>
            </div>
           
            <div class="attend_mainright">
       		 </div>
    </div>
</div>
        </div>
    </div>
</div>


<!-- 顶部班级信息 -->
<script type="text/html" id="tmp-headleft">
    <p class="attend_rate">
        平均出勤率        <span class="attend_ratenums" 
            <% if(attendrate<=50) {%> style="color:#ec3452" <%}%>  >
            <big class="attend_ratenum"><%= attendrate %></big>
            %
        </span>
    </p>
    <h3 class="attend_className textoverflow"><%= classname%></h3>
    <p class="attend_stunum">班级人数：<%=stucont%></p>
</script>
<!-- 低出勤率学生模板 -->
<script type="text/html" id="tmp-stulatelist">
    <% var length = lists.length; %>
    <p class="attend_mrhead">
        <span>旷课次数最高(<%=length%>)</span>
    </p>
    <div class="overflow" style="height: 470px;">
        <div class="attend_studentlists" style="height: 470px;">
            <% if( length == 0 ){ %>
                <p style="font-size:20px;text-align:center;margin:50px;color:#ccc;">好棒,没有旷课的学生</p>
            <%} else{ 
                for(var i = 0;i<length;i++){
            %>
                <div class="attend_studentlist">
                    <img src="<%=lists[i].iconPath %>" class="attend_stuimg" >
                    <span class="attend_stuname textoverflow"><%=lists[i].username %></span>
                    <span class="attend_stuatt"><%=lists[i].count %><span style="font-size: 12px;">次 </span>   </span>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
</script>


<script>
    seajs.use('/html/Public/Home/js/attendanceV3.js');
</script>


<script src="Public/Common/js/lib/layui/layui-v2.0.0/layui/layui.all.js"></script>
<script type="text/javascript">
	seajs.use('/html/Public/Home/js/coursewarev3.js');
</script>
<a href="javascript:;" class="back-to-top"></a>
<link href="/html/Public/Common/js/lib/simditor-1.0.3/styles/simditor.css" rel="stylesheet" type="text/css">
	<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.active();});</script>

<!--
	作者：offline
	时间：2019-04-27
	描述：折线图
-->
<script> 
	 var courseId =  localStorage['cid'];
     var data = {courseid:courseId};
     var APIURL = "http://localhost:8080";
     $.ajax({
        type: "GET",
        url: APIURL+"/AttenceApi/getAttenceList",
        data: data,
        dataType: "json",
        success: function(data){
              if(data.status == 1){

                    var attencelists = data.lists;
                    var attenceLabels = new Array();
                     var attenceRates = new Array();
                      var absenceRates = new Array();
                      console.log(attencelists)
                    for (var i =  0; i < attencelists.length; i++) {
                        attenceLabels[i] = attencelists[i].FinishTime;
                        attenceRates[i] = attencelists[i].attenceRate;
                        absenceRates[i] = attencelists[i].absenceRate;
                    }


                    var chartdata = {
                         // labels 数据包含依次在X轴上显示的文本标签

                          labels: attenceLabels,
                          datasets: [{
                           // 数据集名称，会在图例中显示
                           label: "出勤率",
                            color: "green",
                            // 数据集
                             data: attenceRates
                            },{
                           // 数据集名称，会在图例中显示
                           label: "旷课率",
                            color: "red",
                            // 数据集
                             data: absenceRates
                            }
                         ]
                    };
                    var options = {}; // 图表配置项，可以留空来使用默认的配置
                    var myLineChart = $("#myChart").lineChart(chartdata, options);
                           }
                        }
                     });
    </script>


</body></html>