<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<title>课中互动</title>
<meta name="keywords" content="课堂派、LMS、PPT互动、课中互动、助教神器、老师神器、作业收发系统、作业批改、在线作业、杜绝作业作弊、本地化部署">
<meta name="description" content="教学改革，互动课堂，你可以在这里，组织课中互动，PPT互动，快速发布作业、在线批阅作业、作业查重、统计成绩，随时与你的学生进行沟通，是老师，教务管理的好帮手。支持本地化部署。">
<link href="https://www.ketangpai.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="Public/Common/css/common.css" rel="stylesheet" type="text/css">
<link href="Public/Common/js/lib/layer/skin/layer.css" rel="stylesheet" type="text/css">
<link href="Public/Common/css/emoji.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/previewfile.css" rel="stylesheet" type="text/css">
<link href="Public/Home/css/sprites.css" rel="stylesheet" type="text/css">
<script src="Public/Home/language/zh-cn.js"></script>
<script src="Public/Common/js/sea.js" id="seajsnode"></script>
<script src="Public/Common/js/config/config.js"></script>


<link href="Public/Home/css/announce.css" rel="stylesheet" type="text/css">
<style>.dr-pop .btns .sc-btn{width: 140px;}</style>

<link charset="utf-8" rel="stylesheet" href="Public/Common/js/lib/wangEditor/css/wangEditor.min.css">
<link charset="utf-8" rel="stylesheet" href="Public/Common/js/lib/webuploader-0.1.5/webuploader.css">
<link rel="stylesheet" href="Public/Common/js/lib/layer/skin/ding/style.css" id="layui_layer_PublicCommonjsliblayerskindingstylecss" style="">
</head>
<body style="background-color:#f3efe9;">
	
<div id="course-header" data-id="MDAwMDAwMDAwMLOspZiGz7Nt" data-sys="0" class="topbox cl" style="background-image: url(//assets.ketangpai.com/theme/big/19.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39;//assets.ketangpai.com/theme/big/19.jpg&#39;,sizingMethod=&#39;scale&#39;)">
    <div class="nav nav-clear clearfix">
        <ul class="nav-menu-left">
            <li class="nav-menu-item">
                <a class="side-button" href="javascript:;"><img src="./course_files/ktp1_09.png" alt=""></a>
            </li>
        </ul>
        <!--左滑出left-->
            <div class="leftcon">
        <div class="nav-top">
            <a href="https://www.ketangpai.com/Main/index.html">课堂</a>
            <span class="line"></span>
            <a href="https://www.ketangpai.com/Resource/index.html">备课区</a>            <span class="line"></span>
            <a href="https://www.ketangpai.com/Letter/index.html">
                <b class="fl">私信</b>
                            </a>
        </div>
        <div class="open-course" style="height: 460px;">
            <div class="open-box" style="top: 0px;">
                <p>已有课程</p>
                <div class="list">
                <a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOsrZiHubOx.html" title="ASD">
                        <i style="background-color:#3f3957"></i>
                        <span>ASD</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html" title="php">
                        <i style="background-color:#8c683a"></i>
                        <span>php</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Ns.html" title="java与大数据">
                        <i style="background-color:#455b8c"></i>
                        <span>java与大数据</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHqbds.html" title="15-8">
                        <i style="background-color:#00758e"></i>
                        <span>15-8</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZeHz81s.html" title="熟悉  课堂派">
                        <i style="background-color:#21647a"></i>
                        <span>熟悉  课堂派</span>
                    </a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZWHubuw.html" title="熟悉  课堂派">
                        <i style="background-color:#64240f"></i>
                        <span>熟悉  课堂派</span>
                    </a>                </div>
            </div>
        <div class="bar1" style="background:#f6f6f6"><div class="bar2" style="height: 442px;"></div></div></div>
    </div>        <!--左leftend-->
    	<ul class="nav-menu-right">
            <li class="nav-menu-item ico notice">
	<a id="notice" 　href="javascript:;">
        <img src="/html/Public/Common/img/ktp1_03.png" width="20" alt="通知">
            </a>
	<div class="notice-ct hide">
		<span class="arr"></span>
        <div class="th-bar">
          <span class="tit fl">通知</span>
          <div class="less fr">
            <a id="messageset" href="https://www.ketangpai.com/User/setting.html#setting">设置</a>
          </div>
          <div class="less fr">
            <a id="ignore-all" href="javascript:void(0);">忽略全部</a>
          </div>
        </div>
                <p class="zw">暂无新通知</p>       <div class="bt-bar">
       	<div class="more">
       		<a class="link" href="https://www.ketangpai.com/Message/index.html">查看全部</a>
       	</div>
        </div>
    </div>
</li>            <li class="nav-menu-item user">
	<a id="user" href="javascript:;">
		<img class="avatar" src="./course_files/30.png" alt="李雅" title="李雅">
			</a>
	<div class="user-info hide">
		<ul>
			<li>
				<a class="link setting" href="https://www.ketangpai.com/User/setting.html">个人设置</a>
			</li><li>
				<a class="link wenkudown" href="https://www.ketangpai.com/User/setting.html#wenkudown">文库下载</a>
			</li><li>
				<a class="link myvip" href="https://www.ketangpai.com/VipActivity/setting.html">我的VIP</a>
			</li><li>
				<a class="link logout" href="https://www.ketangpai.com/User/logout.html">退出账户</a>
			</li>        </ul>
    </div>
</li>        </ul>
    </div>
        <div class="topl fl">
            <div class="toplx cl">
                <h2><a id="selecttheme" href="javascript:void(0);">选择主题图片</a></h2>
            </div>
        </div>
        <div class="topm cl">
            <h1>php</h1>
                        <div class="codetip">使用以下邀请码邀请学生加课</div>            <div class="box-box">
                <div class="sele" id="course-code-select" data-abc="SE8L39">
                    	<div class="qrcode fl"></div>
                    	<div class="codetext">SE8L39</div>
                    </div>
                                    <div class="selecon cl">
                    <ul>
                        <li><a id="stop-course-code" href="javascript:;">停用</a></li>
                            <li class="hide2"><a id="start-course-code" href="javascript:;">启用</a></li>
                            <li><a id="reset-course-code" href="javascript:;">重置</a></li>
                                                </ul>
                </div>
            </div>

        </div>
        <div class="topr fr">
            <div class="toprx cl">
                <ul>
                   <li class="li0"><a href="https://www.ketangpai.com/Course/coursedata/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">数据分析</a></li><li class="li1"><a href="https://www.ketangpai.com/Attence/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">考勤</a></li><li class="li2"><a href="https://www.ketangpai.com/Performance/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">表现</a></li><li class="li3"><a href="https://www.ketangpai.com/StudentsV2/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">成员</a></li><li class="li4"><a href="https://www.ketangpai.com/Grade/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">成绩</a></li>                </ul>
            </div>
        </div>
    </div>
    
    <div class="banner cl" style="position: relative; z-index: 2;">
        <div class="in-header" style="background: none repeat scroll 0% 0% #8c683a;">
            <ul class="nav-menu-left hide" style="display: none;">
                <li class="nav-menu-item">
                    <a class="side-button" href="javascript:;"><img src="./course_files/ktp1_09.png" alt=""></a>
                </li>
            </ul>
            <div id="third-nav" class="nav gWidth">
                 <a href="https://www.ketangpai.com/Interact/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html" class="active">互动</a><a href="https://www.ketangpai.com/Course/homework/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">作业</a><a href="https://www.ketangpai.com/TopicDiscuss/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">话题</a><a href="https://www.ketangpai.com/Courseware/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">资料</a><a href="https://www.ketangpai.com/Testpaper/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">测试</a><a href="https://www.ketangpai.com/Notify/index/courseid/MDAwMDAwMDAwMLOspZiGz7Nt.html">公告</a>            </div>
        </div>
    </div>
    <div class="banner2" style="display: none;"></div>
    <div class="bg"></div>

    <!--选择图片-->
    <div class="xuantu">
        <div class="xuantutop cl">
            <div class="xuantutopl fl">选择主题图片</div>
            <div class="xuantutopr fr">
                <a href="javascript:void(0);"></a>
            </div>
        </div>
        <div class="xuantuconb cl" style="height: 450px;">
            <ul class="ul1" style="top: 0px;"></ul>
        </div>
        <div class="xuantubots cl">
            <ul>
                <li class="xli1"><a href="javascript:void(0);">取消</a></li>
                <li class="xli2"><a href="javascript:void(0);">确定</a></li>
            </ul>
        </div>
    </div>

    <!--重置弹窗-->
    <div class="little-pop cz-yqm" id="cz-yqm-header">
        <div class="words">
            <h3>要重置邀请码吗？</h3>
            <p>重置后原来的6位邀请码将失效</p>
        </div>
        <div class="btns">
            <a href="javascript:;" class="cancel">取消</a>
            <a href="javascript:;" class="sure active">确定</a>
        </div>
    </div>


<!--选择图片end-->
<script type="text/html" id="tpl-theme">
{{each lists as theme}}
<li data-id="{{theme['id']}}">
	<img src="{{theme['middlepic']}}" />
	<span></span>
	<div class="on"></div>
</li>
{{/each}}
</script>


<script type="text/html" id="tpl-show-join-class-qrcode">
	<div class="course_qcode" style="width:100%;">
		<div class="left-innerbox">
			<h2 class="classcode">加课码：{{codetips}}</h2>
			<img src="/Public/Home/img/big-code.png" />
			<input class="codetips" value="微信扫码二维码" />
		</div>
		<div class="right-innerbox">
			<div class="title-tips">已加课人数</div>
			<div class="student-num">**</div>
		</div>
	</div>
</script>        <div class="course-left-pannel-toolbar">
        	<ul class="toolbarul">
        		<li class="K_left_middle_attance">
					<a href="javascript:;"><strong class="attence"></strong>考勤</a>
				</li>
        		<li class="K_left_middle_perform">
        			<a href="javascript:;"><strong class="perform"></strong>表现</a>
        		</li>
        		<li class="K_left_middle_race">
        			<a href="javascript:;"><strong class="race"></strong>抢答</a>
        		</li>
        		<li class="K_left_middle_ask">
        			<a href="javascript:;"><strong class="ask"></strong>提问</a>
        		</li>
        		<li class="K_left_middle_blackboard">
        			<a href="javascript:;"><strong class="blackboard"></strong>黑板</a>
        		</li>
        	</ul>
        	<span class="showpannel leftarraw"></span>
        </div><div class="announce-page">
    <div class="cWidth">
        <div class="work-title-type">
            <a href="javascript:;" class="active">课件互动</a>
            <a href="javascript:;">试题互动</a>
        </div>
        <div class="send-ppt" data-step="1" data-intro="点击此处，可以新建互动，编辑此互动">
            <a href="javascript:;">发布课件(PPT或PDF或WORD)互动</a>
        </div>
        <div class="send-an hide">
            <a href="javascript:;">发布试题互动</a>
        </div>
       <div class="send-weike hide">
            <a href="javascript:;">发布微课互动，制作属于自己的微课</a>
        </div>
        <div class="empty-box hide" style="display: block;">
            <div class="box" style="height: 185px">
                <h3 style="margin-top:25px">点击上方按钮，发布课堂互动吧！将您的课堂变得更有趣！</h3>
                <p>老师随时组织投票与讨论，学生使用手机直接参与互动。可以制作精美的微课</p>
                <p>大屏幕同步展示互动结果，活跃课堂气氛。（点击<a href="javascript:;" class="fileext previewVideo" data-isvideo="1" data-url="//assets.ketangpai.com/guide/smovie/hudongall.mp4">播放视频</a>，查看使用详情）</p>
            </div>
        </div>
        <div class="announce-box">
            <ul id="viewer-container-lists"></ul>
        </div>
    </div>
</div>

<script type="text/html" id="tpl-resource-dialog">
<div class="dr-pop resource-dialog" style="display:block;">
    <div class="pop-title layui-layer-title">
        <h3>{{title}}</h3>
        <a href="javascript:;" class="close"></a>
        <div class="dr-from">
            <a href="javascript:;" class="import1 active">从备课区资源导入</a>
            <a href="javascript:;" class="import2">从班级资料导入</a>
        </div>
    </div>
    <div class="pop-cont clearfix">
        <div class="class-item fl import1-item" style="height:402px;"></div>
		<div class="class-cont fr" style="height:402px;"></div>
    </div>
    <div class="btns">
		{{if hideUploader==false}}
        <a href="javascript:;" class="sc-btn fl">本地上传</a>
		{{/if}}
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
</script>

<script type="text/html" id="tpl-import-courseware">
{{if lists.length==0}}
<p class="no">该{{if iscourse}}班级{{/if}}{{if isresource}}备课区{{/if}}没有指定类型的资源</p>
{{/if}}
{{each lists as c}}
<li class="cont-list resource-list" data-fileid="{{c.fileid}}" data-id="{{c.id}}" data-folder="{{c.isfolder}}">
    <h3 class="name fl">
        <img src="{{c.ext_s}}" data-src="{{c.src}}" data-down="{{c.url}}" data-ispic="{{c.isPic}}" {{if c.isPic==1}}style="border:1px solid #ECECEC"{{/if}} width="24" height="24">
        {{if c.isfolder==1}}
        <a href="javascript:;" class="foldertext" title="{{c.foldername}}">{{c.foldername}}</a>
        {{/if}}
        {{if c.isfolder==0}}
        <a href="javascript:;" title="{{c.name}}" data-name="{{c.name}}" data-url="{{c.rurl}}" data-src="{{c.src}}" data-ispic="{{c.isPic}}"  class="fileext">{{c.name}}</a>
        {{/if}}
    </h3>
	{{if c.isfolder==1&&istofolder}}
	{{else}}
		{{if radio==1}}
			<i class="radio"></i>
		{{else}}
			<i class="checkbox"></i>
		{{/if}}
	{{/if}}
</li>
{{/each}}
</script>

<script type="text/html" id="tpl-import-resource">
    {{each data as c}}
    <li data-id="{{c['id']}}" >
        <a href="javascript:;" title="{{c['title']}}">
            <i></i>
            <span>{{c['title']}}</span>
        </a>
    </li>
    {{/each}}
</script>

<script type="text/html" id="tpl-import-part">
    {{if import1}}
    {{if !data||!data.length}}
    <p class="no">空空如也</p>
    {{else}}
    <div class="class-item fl import1-item" style="min-height:200px;">
        <ul></ul>
    </div>
    <div class="class-cont fr">
        <ul class="cont-box clearfix" >
        </ul>
    </div>
    {{/if}}
    {{/if}}
    {{if import2}}
    {{if !lists||!lists.length}}
    <p class="no">空空如也</p>
    {{else}}
    <div class="class-item fl import2-item" style="min-height:200px;">
        <ul></ul>
    </div>
    <div class="class-cont fr">
        <ul class="cont-box clearfix" >
        </ul>
    </div>
    {{/if}}
    {{/if}}
</script>

<script type="text/html" id="tpl-import-course">
	{{each lists as c}}
	<li data-id="{{c['id']}}" >
		<a href="javascript:;" title="{{c['coursename']}}">
			<i></i>
			<span>{{c['coursename']}}</span>
		</a>
	</li>
	{{/each}}
</script>

<script type="text/html" id="tpl-ppt-upload">
    <div class="ppt-upload-pop">
        <div class="title">
            <h3>正在上传及转码...(大概需要1到5分钟左右)</h3>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="cont">
            <img src="{{ext}}">
            <p>{{name}}</p>
        </div>
        <div class="meter-box clearfix">
			{{if url}}
            <p>转码中...</p>
            <span>99%</span>
            <div class="m1">
                <div class="m2" style="width:99%;"></div>
            </div>
			{{else}}
			<p>{{size}}</p>
            <span>0%</span>
            <div class="m1">
                <div class="m2"></div>
            </div>
			{{/if}}
        </div>
    </div>
</script>
<!--导入互动-->
<div class="dr-pop" id="dr-pop">
</div>

<!--删除-->
<div class="little-pop" id="del-sure">
    <h3 class="word">确定要删除该次互动？</h3>
    <div class="btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure active">确定</a>
    </div>
</div>

<!--保存弹窗-->
<div class="pop-new-2 pop-new-V2" id="bc-pop">
    <div class="title">
        <h3>保存到...</h3>
    </div>
    <div class="input-box">
        <span>备课区：</span>
        <div class="choose-box beikequ">
            <div class="choose-item">
                <div class="item department">
                    <span class="disabled">请选择备课区</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-btns">
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>

<script type="text/html" id="tpl-dr-pop">
        <div class="pop-title layui-layer-title">
            <h3>导入{{if type==1}}资料{{else}}试题{{/if}}互动</h3>
            <a href="javascript:;" class="close"></a>
            <div class="dr-from">
                <a href="javascript:;" class="import1 active">从备课区导入</a>
                <a href="javascript:;" class="import2">从班级导入</a>
				{{if type==1}}
				<a href="javascript:;" class="import3">从资料区导入</a>
				{{/if}}
            </div>
        </div>
        <div class="pop-cont clearfix">

        </div>
        <div class="btns">
            {{if type==1}}
            <a href="javascript:;" class="sc-btn fl">本地上传</a>
            {{/if}}
            <a href="javascript:;" class="cancel">取消</a>
            <a href="javascript:;" class="sure {{if type==1}}pptdr{{else}}stdr{{/if}}">导入</a>
        </div>
</script>

<script type="text/html" id="tpl-import-notify">
    {{if !data||data.length==0}}
    <p class="no">该{{if iscourse||isppt}}班级{{/if}}{{if isresource}}备课区{{/if}}没有{{if isppt}}PPT{{/if}}{{if iscourse}}试题{{/if}}互动</p>
    {{/if}}
    {{each data as n}}
    <li class="cont-list" data-id="{{n['id']}}">
        <h3>{{n['title']}}</h3>
        {{each n.stepList as v i}}
        <p>{{v.title}}</p>
        {{/each}}
        <p>编辑于 {{n.createtime}}</p>
        <i class="radio"></i>
    </li>
    {{/each}}
</script>

<script type="text/html" id="tpl-sendbox">
    <div class="send-box">
        <div class="input-box">
            <input type="text" placeholder="互动名称" class="txt1" value="{{title}}">
        </div>
        <div class="opt-cont">
            <div class="sc-box fl">
                {{if newpost}}
                <a href="javascript:;" class="dr-btn">导入互动</a>
                {{/if}}
            </div>
            <div class="opt-btn fr">
                <a href="javascript:;" class="cancel">取消</a>
                <a href="javascript:;" class="sure">确定</a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tpl-weike-sendbox">
    <div class="send-box">
        <div class="input-box">
            <input type="text" placeholder="微课名称" class="txt1" value="{{title}}">
        </div>
        <div class="opt-cont">
            <div class="sc-box fl">
                {{if newpost==2}}
                <a href="javascript:;" class="dr-btn">导入微课</a>
                {{/if}}
            </div>
            <div class="opt-btn fr">
                <a href="javascript:;" class="cancel">取消</a>
                <a href="javascript:;" class="sure">确定</a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tpl-anList">
    <a name="{{id}}"></a>
    <li data-id="{{id}}">
        {{include 'tpl-announce-cont-box'}}
    </li>
</script>

<script type="text/html" id="tpl-announce-cont-box">
    <div class="announce-cont-box interact">
        <div class="title clearfix">
            <div class="work-type fl" data-time={{createtime}}>
                <span>{{if type==0}}试题互动{{else if type==1}}课件互动{{else if type==2}}微课{{/if}}</span>
                <span>{{year_month_day createtime}}</span>
                <span>{{hour_min createtime}}</span>
            </div>
            <div class="opt">
                <a href="javascript:;" class="opt-btn"></a>
                <div class="opt-box2">
					{{if type == 1}}
					<a href="javascript:;" class="changeppt">更换课件</a>
					<a href="javascript:;" class="downloadppt">下载课件</a>
					{{/if}}
                    <a href="javascript:;" class="edit">{{if type==0}}编辑{{else}}重命名{{/if}}</a>
					<a href="javascript:;" class="shareInteract">分享给同事</a>
                    <a href="javascript:;" class="saveb">保存到...</a>
                    <a href="javascript:;" class="del">删除</a>
                </div>
            </div>
        </div>
        {{if type==0}}
        <div class="announce-cont">
            <h3 class="work-title">
				{{if share==1}}
					<b class="toptips help-info-tips" data-tips="该互动已经创建了分享链接">分享</b>
				{{/if}}
				<a href="/Interact/interact/interactid/{{id}}.html">{{title}}</a>
			</h3>
            <ul class="link-list">
                {{if stepList.length}}
                {{each stepList as s i}}
                <li>
                    {{if s.enable==0 && s.over==0}}<span class="gray">未完成</span>{{/if}}
                    {{if s.enable==1 && s.over==0}}<span class="red">进行中</span>{{/if}}
                    {{if s.over==1}}<span class="green">已完成</span>{{/if}}
                    <a href="javascript:;">【{{i+1}}】{{s.title}}</a>
                </li>
                {{/each}}
                {{else}}
                <li>
                    <span class="gray">暂无互动</span>
                </li>
                {{/if}}
            </ul>
        </div>
        {{else if type==1}}
        <div class="announce-cont ppt-cont clearfix">
            <img src="{{ext}}" class="fl">
            <div class="announce-cont fl">
                <h3 class="work-title">
					{{if share==1}}
					<b class="toptips help-info-tips" data-tips="该互动已经创建了分享链接">分享</b>
					{{/if}}
					<a href="/InteractPPT/interact/interactid/{{id}}">{{title}}</a>
				</h3>
                {{if over==0}}
                {{if stepList==null||stepList.length==0}}
                <p class="gray">未添加互动试题,{{if task}}，<span style="color:green">预习已发布</span>{{/if}}</p>
                {{else}}
                <p class="gray">已添加互动 {{stepList.length}}，已使用 {{k}}{{if task}}，<span style="color:green">预习已发布</span>{{/if}}</p>
                {{/if}}
                {{/if}}
                {{if over==1}}
                <p class="gray">已添加互动 {{stepList.length}}，已使用 {{k}}{{if task}}，<span style="color:green">预习已发布</span>{{/if}}</p>
                {{/if}}
            </div>
			<div class="startClass fr">
				<a target="_blank" href="/InteractPPT/preview/interactid/{{id}}">开始上课</a>
			</div>
        </div>
		{{else if type==2}}
		<div class="announce-cont ppt-cont clearfix">
            <img src="{{ext}}" class="fl">
            <div class="announce-cont fl">
                <h3 class="work-title">
					{{if share==1}}
					<b class="toptips help-info-tips" data-tips="该互动已经创建了分享链接">分享</b>
					{{/if}}
					<a href="/WeCourse/edit/interactid/{{id}}">{{title}}</a>
				</h3>
                {{if over==0}}
                {{if stepList==null||stepList.length==0}}
                <p class="gray">未添加互动试题</p>
                {{else}}
                <p class="gray">已添加互动  {{stepList.length}}，已使用{{k}}{{if task}}，<span style="color:green">预习已发布</span>{{/if}}</p>
                {{/if}}
                {{/if}}
                {{if over==1}}
                <p class="gray">已添加互动  {{stepList.length}}，已使用{{k}}{{if task}}，<span style="color:green">预习已发布</span>{{/if}}</p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</script>

<script type="text/html" id="tpl-share-interact-dialog">
<div class="pop-new-2 pop-new-V2" style="display:block;">
    <div class="title">
        <h3>分享给同事</h3>
    </div>
	<div class="copy-share-testpaper">
		<span class="share-explanation">将此URL分享给其他老师，以便他们能直接将此“互动”导入他们的帐户。 </span>
		<div class="form-control-group">
			<lable class="label label-sm label-top">链接：</lable>
            <input class="input-share-link" value="{{url}}" readonly="" type="text">
        </div>
		<div class="share-dialog-action">
			<button type="button" class="pure-button remove-link" title="删除分享链接之后，之前分享的链接，将失效 ">删除分享链接</button>
        	<button  type="button" class="copy-share-btn" data-clipboard-text="{{url}}">复制链接</button>
		</div>
	</div>
</div>
</script>


	<span style="display: none">
<img src="./course_files/track_ua.gif"></span>
	<div class="help-dips">
	<a href="javascript:;" class="help-icon help-icon-ques"></a>
	<div style="display: none;" class="help-dips-box">
		<i class="help-icon help-icon-bdot"></i>
        <a href="javascript:;" class="btn-feedback">反馈问题</a>
        <a href="https://www.ketangpai.com/index/updateDynamics" target="_blank">产品动态</a>
        <a href="https://www.ketangpai.com/help/index.html" target="_blank">帮助中心</a>
    </div>
</div>
<a href="javascript:;" class="back-to-top" style="display: none;"></a>
<!--反馈问题窗口-->
<div class="little-pop layer-feedBack" id="feedBackWindow" data-email="ktp0212889328">
    <div class="feedback-header clearfix"> <a href="javascript:;" class="closeFeedback fr"></a></div>
    <h3 class="title">课堂派反馈</h3>
    <div class="feedMessageBox">
        <span>周一至周五，我们会在收到反馈两个小时内给您回复</span>
        <span>周末及节假日收到的反馈，我们会在节后1个工作日内给您回复</span>
                <span>老师推荐加入『课堂派高校服务』 QQ群号:175510170</span>
        	<span>『课堂派后援团』 QQ群号:487598976  『高校服务Ⅱ』 QQ群号 383907420</span>
                <textarea id="feedEditor" autofocus=""></textarea>
    </div>
    <div class="btns">
    	<span class="yourEmail">您的邮箱：<input type="email" name="email" value=""></span>
        <a href="javascript:;" class="cancel">取消</a>
        <a href="javascript:;" class="sure">确定</a>
    </div>
</div>
<link href="Public/Common/js/lib/simditor-1.0.3/styles/simditor.css" rel="stylesheet" type="text/css">
<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.feedback();});</script>	
    <script>
        seajs.use('/html/Public/Home/js/interact.js',function(ex){ex.listAll();});
    </script>

	<script>seajs.use('/html/Public/Home/js/thirdheader.js',function(ex){ex.active();});</script>

</body></html>